@keyframes bordere 
    from 
        box-shadow: 0 0 1px #f04949
        background-color: rgba(240, 72, 72, .1)
    10% 
        box-shadow: 0 0 2px #f04949
        background-color: rgba(240, 72, 72, .2)
    20% 
        box-shadow: 0 0 4px #f04949
        background-color: rgba(240, 72, 72, .3)
    40% 
        box-shadow: 0 0 6px #f04949
        background-color: rgba(240, 72, 72, .3)
    60% 
        box-shadow: 0 0 8px #f04949
        background-color: rgba(240, 72, 72, .3)
    80% 
        box-shadow: 0 0 4px #f04949
        background-color: rgba(240, 72, 72, .2)
    to 
        box-shadow: 0 0 1px #f04949
        background-color: rgba(240, 72, 72, .1)
    


    
