body
    background: #203748
    min-height: 100vh
    display: flex
    flex-direction: column
.nav 
    height: 57px
    background: #f04949
    width: 100%
    display: flex
    &_wrapper
        &_ava 
            width: 70px
            float: left
            margin: -4px 20px 0 0 
            border-radius: 70px
            overflow: hidden
            img
                width: 100%
                height: auto
                display: block
        &_block     
            display: flex
            justify-content: center
            margin-top: 10px
            &_wrapperlogo
                margin-right: 50px
                display: flex 
                align-items: center
                justify-content: center
                width: 152px
                height: 35px
                padding: 20px 20px 
                transition: .5s all
                border-radius: 35px
                &:hover
                    background: #203748
                    box-shadow: 0 0 15px #2eb374
                &:nth-child(4)
                    margin-right: 0
                &_links
                    color: #000000
                    text-decoration: none
                    font-size: 20px
                    text-transform: uppercase
                    font-weight: 500
                    transition: .5s all
                    &:hover
                        color: #ffffff
            img
                width: 22px
                height: 22px
                margin-right: 5px

.section
    flex: 1
    margin-bottom: 50px
    &_block
        display: none
        padding: 30px 0 0 0
        margin-bottom: 50px
        &_ava
            width: 400px
            height: 157px
            border-radius: 70px
            overflow: hidden
            margin-top: 25px
            img
                width: 100%
                height: auto
                display: block
        &_text
            &_header
                font-size: 35px
                color: #2d9b68
                font-weight: 700
                margin: 15px 0 0 25px
            &_subheader 
                color: #ffffff
                margin-left: 25px
                font-size: 30px
                font-weight: 500
            &_p
                color: #ffffff
                font-size: 30px
                font-weight: 400
                margin: 30px 0 0 25px
            &_wrapper
                height: 50px
                width: 220px
                background: #2d9b68
                border-radius: 25px
                display: flex
                justify-content: center
                align-items: center
                transition: .5s all
                margin: 0 auto
                margin-top: 60px
                &:hover
                    background: #1c6945
                    box-shadow: 0 0 20px #d34545
                &_button
                    font-size: 25px
                    color: #eee3e3
                    text-decoration: none
                    transition: .5s all
                    &:hover
                        color: #ffffff
                    img 
                        margin-right: 5px
                        margin-bottom: 5px
                        width: 25px
                        height: 25px

.section
    &_block
        &_skill 
            margin-top: 50px
            justify-content: center
        &_skills 
            &_block 
                display: flex
                align-items: center
                justify-content: center
                width: 900px
                margin-top: 40px
                img 
                    width: 100px
                    height: 100px
                &_text 
                    margin-left: 10px
                    width: 65%
                    color: #ffffff
                    border-bottom: 5px solid #fc7c13
                    font-size: 23px
                    font-weight: 500
                    &_css
                        border-bottom: 5px solid #1423ff
                    &_js
                        border-bottom: 5px solid #ffe714
                    &_sass
                        border-bottom: 5px solid #df009c
                    &_bem
                        border-bottom: 5px solid #1f52e3fc
                    &_git
                        border-bottom: 5px solid #ff2a14
                    &_github
                        border-bottom: 5px solid #23242c
                    &_gulp
                        border-bottom: 5px solid #d34545

.section
    &_block
        &_works
            display: grid
            grid-template: repeat(3, 200px) / 200px
            &_wrapperImg
                width: 200px
                height: 200px
                overflow: hidden
                position: relative
                margin: 7px
                img 
                    width: 100%
                    opacity: .7
                    transition: .4s all
                    &:hover    
                        transform: scale(1.1) 
                        opacity: 1
    
.section
    &_block  
        position: relative
        &_rezume
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            width: 100%
            margin-top: 25%
            &_text
                color: #ffffff
                font-size: 30px
            &_file
                width: 180px
                height: 42px
                line-height: 37px
                text-align: center
                text-decoration: none
                font-size: 20px
                color: #ffffff
                background-color: #2eb374
                border-radius: 25px
                transition: .3s all
                text-transform: uppercase
                &:hover 
                    background-color: #25915e
                    color: #fbfde3
                    box-shadow: 0 0 30px #da1919

.menu
    display: flex
    justify-content: flex-end
    align-items: flex-end
    background-color: rgba(71, 80, 121, .5) 
    height: 100vh
    width: 275px
    flex-direction: column
    position: fixed
    right: 0
    transform: translateX(100%)
    transition: .7s all
    z-index: 1
    &_slide 
        width: 270px
        color: #fff
        height: 100%
        display: flex
        align-items: center
        &_simbol 
            position: absolute
            right: 10px
            top: 0
            font-size: 30px
            cursor: pointer
        &_elementrwraper
            margin: 10px 0
        &_emailwrapper 
            display: flex
            width: 200px
        &_number
            color: #ffffff
            transition: .3s all
            &:hover
                color: #8d8d8d
        &_email
            padding-left: 10px
            color: #ffffff
        &_insta
            color: #ffffff
            transition: .3s all
            &:hover
                color: #919191


.footer 
    background: #355267
    min-height: 80px
    margin-top: auto
    width: 100%
    &_wrapper
        display: flex
        justify-content: space-between
        &_nik
            color: #ffffff
            margin-top: 25px
        &_contacts
            color: #ffffff
            margin-top: 25px
            border: none
            background: none
            text-decoration: uppercase
            animation-name: bordere
            animation-duration: 1s
            animation-timing-function: ease
            animation-iteration-count: infinite
            transition: .4s all
.active
    background: #203748
    box-shadow: 0 0 30px #2eb374
    color: #ffffff 
    a 
        color: #ffffff

.content_active 
    display: flex    

